.icon {
  @apply inline-flex self-center justify-center items-center relative;
  top: -0.1em;
  width: 1em;
  height: 1em;
  font-size: 0.7em;
  color: inherit;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}